.alert, .breadcrumb, .card, .card .card-header, .dropdown-menu, .file-custom, .input-group-addon, .jumbotron, .list-group .list-group-item, .modal-content, .nav .nav-link, .nav-tabs, .navbar, .navbar-toggler, .page-item:first-child .page-link, .page-item:last-child .page-link, .pagination-lg .page-item:first-child .page-link, .pagination-lg .page-item:last-child .page-link, .pagination-sm .page-item:first-child .page-link, .pagination-sm .page-item:last-child .page-link, .popover, .tag, .tooltip-inner, img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

.divider-new, .text-fluid, h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

.row-fitur {
  margin-right: 2%;
  margin-left: 2%;
  padding-top: 45px;
  padding-bottom: 25px;
}

@media (max-width:991px) {
  .row-fitur {
    margin-right: 2%;
    margin-left: 2%;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media (min-width:991px) {
  .row-fitur {
    margin-right: 0;
    margin-left: 0;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.fitur-a {
  text-align: center;
}

.kolom {
  padding: 25px;
}

.paragraf-fitur {
  color: #606060;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto';
}

