.intro {
  background-color: rgb(42,42,42);
}

.header-bg {
  height: 400px;
}

.nav-link {
}

@media (max-width: 300px) {
  .header-bg {
    width: 300px;
  }
}

@media (max-width: 576px) {
  .row.justify-content-end.justify-content-sm-center.justify-content-md-end.justify-content-lg-end.justify-content-xl-end {
    padding-top: 130px;
  }
}

@media (max-width: 300px) {
  .row.justify-content-end.justify-content-sm-center.justify-content-md-end.justify-content-lg-end.justify-content-xl-end {
    padding-top: 100px;
  }
}

.article-img {
  height: 300px;
}

.site-section {
  text-align: center;
  padding-bottom: 70px;
}

.site-section h1 {
  font-weight: 300;
  margin-bottom: 50px;
  margin-top: 60px;
}

#welcome p {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
  color: #666;
}

#breed {
  background-color: #eff7fb;
}

#kitty-cards h1 {
  margin-top: 60px;
  margin-bottom: 50px;
}

